<section class="flex max-portatil:flex-col">
  <article class="bg-gray-100 w-3/5 max-portatil:w-full">
    <div class="py-32 px-20 flex flex-col gap-16">
      <div id="eventsSection">
        <app-title-section [wrap]="true" [preTitle]="'EVENTS'"
          [title]="'NUESTROS PROXIMOS EVENTOS'"></app-title-section>
      </div>
      <div class="w-full flex h-full flex-col gap-5">
        @for (event of eventsToShow; track event.id) {
        <app-event-zoo-card-home data-aos="zoom-in-down" data-aos-duration="2000"
          (handleClickButton)="showNewEvent($event)" [event]="event"></app-event-zoo-card-home>
        }
      </div>

    </div>
  </article>
  <article class="flex flex-col text-white gap-40 py-32  px-20 max-portatil:w-full w-2/5 bg-cover bg-center"
    style="background-image: url('../../assets/img/zoo-images/events-home/{{ eventDetails.name }}_details.jpg');">
    <div class="flex flex-col gap-10">
      <app-title-section [white]="true" [wrap]="true" [preTitle]="'EVENTO SELECCIONADO'"
        [title]="eventDetails.name.toUpperCase()"></app-title-section>
      <p class="text-lg">{{eventDetails.descriptionAccorted}}.</p>
      <div class="flex flex-col">
        <div class="flex gap-2 text-lg text-primary font-semibold">
          <span>{{formatTime(eventDetails.initialHour)}}</span>
          <span>-</span>
          <span>{{formatTime(eventDetails.finishHour)}}</span>
        </div>
        <div class="flex gap-2">
          <span>{{eventDetails.dateInfo.dayMonth}}</span>
          <span>{{eventDetails.dateInfo.nameMonth}}</span>
        </div>
      </div>
    </div>
    <a class="flex max-xs:w-full justify-center items-center rounded-md max-normal:w-1/3 max-normal:mx-auto h-16 transition-all duration-500 border border-primary text-lg w-2/5 text-white  hover:bg-primary hover:text-text"
      [routerLink]="'/eventos/'+eventDetails.id">
      Descubrir
    </a>
  </article>
</section>