<header class="bg-header bg bg-cover bg-fixed bg-center text-white flex flex-col max-normal:gap-10">
  <app-navbar></app-navbar>
  <section class=" relative flex max-normal:flex-wrap items-center max-normal:gap-10 max-normal:px-5 max-normal:text-center max-normal:justify-center pl-20">
    <article data-aos="zoom-out-up" data-aos-duration="2000" class="flex w-1/2 max-normal:w-full flex-col items-center gap-12">
      <h1 class="text-center max-portatil:text-3xl max-normal:text-4xl text-5xl leading-normal">Descubre la emoción de la vida salvaje en WildZoo</h1>
      <p class="max-portatil:text-sm max-normal:text-lg">Embárcate en una aventura única en WildZoo, donde la emoción de la vida salvaje te aguarda. Descubre la majestuosidad de la naturaleza y la diversidad de especies en nuestro santuario. Únete a nosotros para disfrutar de eventos educativos y actividades interactivas que te permitirán conocer de cerca a nuestras fascinantes criaturas y aprender sobre su importancia.      </p>
        <a class="flex max-xs:w-1/2 cursor-pointer justify-center items-center rounded-md max-portatil:w-1/2 max-normal:w-1/3 max-normal:mx-auto h-16 transition-all duration-500 border border-primary text-lg w-1/4 text-white  hover:bg-primary hover:text-text"
        (click)="scrollToSection('eventsSection')">
        Ver eventos
        </a>
    </article>
    <img data-aos="fade-up-left"
    data-aos-duration="1500"
    class="max-normal:w-full max-xs:h-[400px] max-xs:object-cover content-end w-1/2 h-full flex items-end justify-end" src="../../assets/img/loro-header-home.png" alt="">
  </section>
</header>
