.mat-mdc-paginator {
  background: none !important;
  color: white !important;
}

::ng-deep .mat-mdc-paginator-icon {
  fill: white !important;
}


::ng-deep .mat-mdc-paginator-navigation-previous:disabled {
  opacity: 0.5 !important;
}

::ng-deep .mat-mdc-paginator-navigation-next:disabled {
  opacity: 0.5 !important;
}

