<section class=" flex flex-col gap-20">
  <article class="text-white">
    <app-header [title]="'Animales de WildZoo'"></app-header>
  </article>
  
  <article #filtersArticle class="flex flex-col gap-10 max-normal:px-20 max-xs:px-0 px-40">
    <div class="flex flex-wrap gap-10 max-xs:justify-center max-xs:px-10">
      @for (filter of filters; track filter.id) {
        @if (activeFilterId == filter.id) {
          <div class="flex flex-col gap-1 group">
            <a  class="text-gray-400 font-semibold" [routerLink]="'/animales/clase/'+filter.id">{{filter.name}}</a>
            <span class="block bg-primary h-[2px] w-full"></span>
          </div>
        }@else {
          <div class="flex flex-col gap-1 group">
            <button class="hover:text-gray-400 font-semibold" [routerLink]="'/animales/clase/'+filter.id">{{filter.name}}</button>
            <span class="block bg-primary h-[2px] w-0 group-hover:w-full transition-all duration-300 ease-out"></span>
          </div>
        }
      }
    </div>
    <div class="grid grid-cols-3 gap-2 max-xs:flex max-xs:flex-col max-portatil:grid-cols-2">
      @for (animal of pagedAnimals; track animal.id) {
        <app-animals-card  [showMore]="true" [animal]="animal"></app-animals-card>
      }
    </div>

    <mat-paginator class="mt-10 mb-5" showFirstLastButtons [length]="animals.length" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30]"
      (page)="handlePageEvent($event)">
    </mat-paginator>

  </article>
</section>
