<div class="flex flex-col gap-20 px-20 max-normal:px-10">
  <h1 class="text-3xl text-center">Detalles de usuario</h1>
  <form [formGroup]="formDetailsUser" (ngSubmit)="onSubmit()"
    class="grid max-normal:flex max-normal:flex-col gap-x-5 grid-cols-2 items-start">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="formDetailsUser.get('email')?.errors?.['required']">
        El email es obligatorio.
      </mat-error>
      <mat-error *ngIf="formDetailsUser.get('email')?.errors?.['pattern']">
        Por favor ingresa un email válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="formDetailsUser.get('name')?.errors?.['required']">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Primer Apellido</mat-label>
      <input matInput formControlName="firstSurname">
      <mat-error *ngIf="formDetailsUser.get('firstSurname')?.errors?.['required']">
        El primer apellido es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Segundo Apellido</mat-label>
      <input matInput formControlName="lastSurname">
      <mat-error *ngIf="formDetailsUser.get('lastSurname')?.errors?.['required']">
        El segundo apellido es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="formDetailsUser.get('username')?.errors?.['required']">
        El nombre de usuario es obligatorio.
      </mat-error>
      <mat-error *ngIf="formDetailsUser.get('username')?.errors?.['minlength']">
        El nombre de usuario debe tener al menos 3 caracteres.
      </mat-error>
    </mat-form-field>

    <button [ngClass]="!formDetailsUser.invalid ? 'transition-all duration-500 hover:bg-primary' : ''"
      class="disabled:text-gray-400 col-span-2 mx-auto disabled:border-primary disabled:border w-44 h-14"
      [disabled]="formDetailsUser.invalid">Actualizar Datos</button>
  </form>

  <div>
    <mat-accordion multi="false">
      <mat-expansion-panel [expanded]="user.sponsors.length > 0 && step === 0" (opened)="setStep(0)" hideToggle
        [disabled]="user.sponsors.length == 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon [icon]="sponsorItems.icon " class="mr-2"></fa-icon>
            @if (user.sponsors.length == 0) {
            No tienes ningun animal apadrina {{user.name}}
            }@else {
            {{ sponsorItems.title }}
            }
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex flex-col flex-wrap gap-5">
          <hr>
          @for (sponsor of sponsorItems.sponsors; track sponsor.id) {
          <div class="flex justify-between ">
            <p>{{sponsor.animal.name}}</p>
            <p>{{sponsor.date | date: 'longDate'}}</p>
            <p>{{sponsor.sponsorAnimal.price | currency:'EUR':'symbol':'1.2-2'}}</p>
          </div>
          }
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle
        [disabled]="user.eventSales.length == 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon [icon]="eventSalesItems.icon " class="mr-2"></fa-icon>
            @if (user.eventSales.length == 0) {
            No has asistido a ningun evento, son GRATIS con tu entrada {{user.name}}
            }@else {
            {{ eventSalesItems.title }}
            }
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex flex-col flex-wrap gap-5">
          <hr>
          @for (eventSale of eventSalesItems.eventsales; track eventSale.id) {
          <div class="flex justify-between items-center flex-wrap">
            <p class="w-[230px]">{{eventSale.event.name}}</p>
            <p>{{eventSale.registrationDate | date: 'longDate'}}</p>
            <div class="flex gap-3">
              <p>{{ formatTime(eventSale.event.initialHour) }}</p>
              <p>-</p>
              <p>{{ formatTime(eventSale.event.finishHour) }}</p>
            </div>
          </div>
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>