<section #scrollDownRef class="px-20 flex flex-col gap-24">
  <div class="max-portatil:flex max-portatil:flex-col max-portatil:gap-12 grid grid-cols-2">
    <article class="flex  flex-col gap-5">
      <app-title-section [preTitle]="'NUESTROS SERVICIOS'"
        [title]="'SERVICIOS PARA NUESTROS CLIENTES'"></app-title-section>
      <button (click)="showAllServices()"
        class="max-normal:w-full w-1/3 transition-all font-semibold border border-primary text-text hover:bg-primary p-5">Ver
        todos los servicios</button>
    </article>
    <article class="flex gap-3 bg-primary">
      <div class="flex gap-5 px-10 py-5 items-center">
        <fa-icon class="text-[75px]" [icon]="iconMobile"></fa-icon>
        <div class="flex flex-col gap-3">
          <h3 class="text-2xl">Nueva aplicación móvil para WildZoo</h3>
          <p>Próximamente</p>
        </div>
      </div>
    </article>
  </div>
  <article class="flex gap-16 flex-wrap max-normal:flex-col justify-evenly">
    @if (!show) {
    @for (service of initAllServices; track $index) {
    <div class="flex flex-col gap-5 w-1/4 max-normal:w-full">
      <app-service-zoo-card [service]="service"></app-service-zoo-card>
    </div>
    }
    }@else {
      @for (service of allServices; track $index) {
      <div class="flex flex-col gap-5 w-1/4 max-normal:w-full">
        <app-service-zoo-card [service]="service"></app-service-zoo-card>
      </div>
      }
    }
  </article>
</section>