.bg {
    background-image: url('../../assets/img/bg-home-top.jpg');
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 89%, 77% 100%, 43% 94%, 24% 98%, 0 92%, 0 0, 20% 0);
}
h1 {
    font-weight: 600;
}
