@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'QuicksandBlack';
    src: url('./assets/font/MPLUSRounded1c-Black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandBold';
    src: url('./assets/font/MPLUSRounded1c-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandExtraBold';
    src: url('./assets/font/MPLUSRounded1c-ExtraBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandLight';
    src: url('./assets/font/MPLUSRounded1c-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandMedium';
    src: url('./assets/font/MPLUSRounded1c-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandRegular';
    src: url('./assets/font/MPLUSRounded1c-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandThin';
    src: url('./assets/font/MPLUSRounded1c-Thin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('./assets/font/NunitoSans.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    overflow-x: hidden;
}
.mat-mdc-button.mat-primary{
    border: #fdd340 1px solid;
    --mdc-text-button-label-text-color: #ffffff;
    font-size: 20px;
    padding: 1.5em;
    transition: 0.2s background-color ease-in;
}
.mat-mdc-button.mat-primary:hover{
    background-color: #fdd340;
    --mdc-text-button-label-text-color: #333;
}

