<section class="flex flex-col gap-20 mb-20">
  <article class="text-white">
    <app-header [title]="title"></app-header>
  </article>
  <mat-tab-group [animationDuration]="500"  dynamicHeight *ngIf="this.user" class="px-20 max-xs:px-0 flex max-normal:gap-12 max-normal:flex-col w-full">
    <mat-tab label="Detalles usuario">
      <ng-template matTabContent>
        <app-user-details [user]="user"></app-user-details>
      </ng-template>
    </mat-tab>
    <mat-tab label="Tarjeta de crédito">
      <ng-template matTabContent>
        <app-user-credit-card [user]="user"></app-user-credit-card>
      </ng-template>
    </mat-tab>
    <mat-tab label="Cambiar contraseña">
      <ng-template matTabContent>
        <app-user-change-password [user]="user"></app-user-change-password>
      </ng-template>
    </mat-tab>
    @if (user.packageSales.length > 0 || user.tickets.length > 0) {
      <mat-tab label="Pagos realizados">
        <ng-template matTabContent>
          <app-user-payments [paymentsData]="payamentsData" [user]="user"></app-user-payments>
        </ng-template>
      </mat-tab>
    }
  </mat-tab-group>
</section>
