<section class="flex flex-col gap-20">
  <article class="text-white">
    <app-header [title]="title"></app-header>
  </article>
  <article class="pl-40 max-normal:flex-wrap max-portatil:pl-5 max-portatil:pr-5 pr-20 flex gap-16">
    <div class="w-2/3 max-normal:w-full flex flex-col gap-10">
      <app-carousel [images]="images" [interval]="8000"></app-carousel>
    </div>
    <div class="flex flex-col gap-10 w-1/3 max-normal:w-full">
      <div class="flex flex-col gap-2">
        <div class="bg-primary p-4">
          <h1 class="text-2xl text-center p-4 text-text">{{event.name.toUpperCase()}}</h1>
        </div>
      </div>
      <form [formGroup]="formSuscribeEvent" class="flex flex-col gap-1">
        <mat-form-field appearance="outline" class="w-[270px] mx-auto">
          <mat-label>Día de asistencia al evento</mat-label>
          <input matInput [disabled]="verifyInscription()" [value]="event.date" [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        @if (dateToday != dateEvent) {
          <mat-error class="mx-auto">No es posible inscribirse, el evento no está disponible, se permitirá la inscripción UNA SEMANA antes del comienzo del mismo</mat-error>
        }
        <button (click)="registerToEvent()" [disabled]="dateToday != dateEvent"
        class="mt-5 disabled:border disabled:border-primary disabled:text-gray-400 disabled:hover:bg-transparent w-40 h-12 hover:bg-primary transition-all duration-500 mx-auto">Inscribirse</button>
      </form>
    </div>
    
  </article>
  <article class="w-2/3 max-normal:w-full pl-40 max-portatil:pl-20 max-portatil:pr-10 pr-10 flex flex-col gap-12">
    <div class="flex justify-between">
      <div class="flex items-center gap-2">
        <fa-icon class="text-3xl text-primarySub" [icon]="initialHour"></fa-icon>
        <span>Hora de apertura {{event.initialHour}}</span>
      </div>
      <div class="flex items-center gap-2">
        <fa-icon class="text-3xl text-primarySub" [icon]="finishHour"></fa-icon>
        <span>Hora de finalización {{event.finishHour}}</span>
      </div>
      <div class="flex items-center gap-2">
        <fa-icon class="text-3xl text-primarySub" [icon]="dayEvent"></fa-icon>
        <span>Día {{event.date | date:'longDate'}}</span>
      </div>
    </div>
    <hr class="w-full">
    <div class="flex flex-col gap-7">
      <div class="flex gap-5 items-center">
        <fa-icon class="text-3xl text-primarySub" [icon]="information"></fa-icon>
        <h1 class="text-2xl font-semibold text-text">Sobre el evento</h1>
      </div>
      <p>{{event.description}}</p>
    </div>
  </article>  
  <article class="pl-40 max-normal:flex-wrap max-portatil:pl-5 max-portatil:pr-5 pr-20 flex flex-col gap-10">
    <h1 class="text-text text-3xl font-bold">Animales presentes</h1>
    <div class="grid grid-cols-3 w-full mx-auto gap-10">
      @for (animal of event.animals; track animal.id) {
        <app-animals-card [showMore]="true" [animal]="animal"></app-animals-card>
      }
    </div>
  </article>
</section>